@import "~prismjs/themes/prism-dark.css";

/*https://moderncss.dev/custom-css-styles-for-form-inputs-and-textareas/*/
:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.textareaclass {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
/*    border: 2px solid var(--input-border);*/
    border-radius: 4px;
}
/*https://css-tricks.com/textarea-tricks/*/
#textareaid {
    resize: none;
    width: 50em;
    height: 10em;
}

#textareaid, #highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    margin: 10px;
    padding: 10px;
    border: 0;
    width: calc(100% - 32px);
    height: 150px;
}

#textareaid, #highlighting, #highlighting * {
    /* Also add text styles to highlighting tokens */
    font-size: 15pt;
    font-family: monospace;
    line-height: 20pt;
}

/*#textareaid, #highlighting {
    position: absolute;
    top: 0;
    left: 0;
}*/

/* Move the textarea in front of the result */
#textareaid {
    z-index: 1;
}

#highlighting {
    z-index: 0;
}

/* Make textarea almost completely transparent */
/*#textareaid {
    color: transparent;
    background: transparent;
    caret-color: white; !* Or choose your favorite color *!
}*/

/* Can be scrolled */
#textareaid, #highlighting {
    overflow: auto;
    white-space: nowrap; /* Allows textarea to scroll horizontally */
}

/* No resize on textarea */
#textareaid {
    resize: none;
}

